################################
###########  FILES  ############
################################
*.pptx
*.DS_Store
*.tar.gz
.!*

################################
########### FOLDERS ############
################################
build/
build-*/
compile_commands.json
html/
results/
notes/
deprecated/
.cache/
.github/
documentation/

################################
############ C/C++ #############
################################
# Prerequisites
*.d
# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.ko
*.elf
# Precompiled Headers
*.gch
*.pch
# Compiled Dynamic libraries
*.so
*.dylib
*.dll
# Fortran module files
*.mod
*.smod
# Compiled Static libraries
*.lai
*.la
*.a
*.lib
# Executables
*.i*86
*.x86_64
*.hex
*.app
*.stackdump
*.exe
*.out
# Linker output
*.ilk
*.map
*.exp
# Debug files
*.dSYM/
*.su
*.idb
*.pdb

################################
########### VS CODE ############
################################
.vscode/settings.json
.vscode/c_cpp_properties.json
*.code-workspace
.history
